<% wrap_layout :padded_layout do %>
  <% article = current_article %>
  <div class="margined">
	  <h1 class="blog-title"><%= link_to article.title, article %></h1>
	  <span class="blog-date">Posted <%= article.date.strftime('%B %e, %Y') %><% if article.data.author %> by <%= article.data.author %><% end %></span>
  </div>
  <div class="highlight padded z-depth-1 clearfix blog-content">
  	<%= article.body %>
  </div>
  <div class="clearfix">
    <div class="share-links pull-right">
      Subscribe:
      <ul class="share-links-list">
        <li><%= link_to (image_tag ("rss-24.png"), :class => "rss"), config.feed_url %></li>
      </ul>
    </div>
    <div class="share-links pull-left">
      Share this post to:
      <ul class="share-links-list">
        <% share_link_to(absolute_url(article.url), article.title, article.title).each do |site, link| %>
        <li><%= link_to (image_tag ("#{site}-24.png"), :class => site), link %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div id="disqus_thread"><p><a href="javascript:loadDisqus()">Load Comments...</a></p></div>
  <script type="text/javascript">
  function loadDisqus() {
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'considerveganism';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  }
  </script>
  <noscript>Please enable JavaScript to view the comments.</noscript>
  <% content_for :footer do %>
    <%= link_to "&laquo; All blog posts", "/blog", :class => "footer-link footer-link-big" %>
  <% end %>
<% end %>