<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <title><%= current_page.data.title ? current_page.data.title + " – Consider Veganism" : "Consider Veganism » Rational, factual, and concise arguments for veganism" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% if current_page.data.description %>
    <meta name="description" content="<%= current_page.data.description %>" />
    <% end %>
    <meta property="og:image" content="<%= current_page.data.og_image ? current_page.data.og_image : absolute_url("/images/opengraph_default.jpg") %>" />

    <link rel="alternate" type="application/rss+xml" title="Consider Veganism" href="<%= config.feed_url %>" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon.png">
    <%= stylesheet_link_tag "normalize", "all" %>
    <%= javascript_include_tag  "all", :defer => true %>
    <% if needs_googlechart then %>
    <script type="text/javascript">
    var DeferredGoogleAPI = {
      callbacks: [],
      load: function() {
        var that = this;
        var gscript = document.createElement('script');
        gscript.src = 'https://www.google.com/jsapi';
        gscript.addEventListener("load", function onLoad(params) {
          gscript.removeEventListener("load", onLoad);
          for (var i=0; i<that.callbacks.length; i++) {
            that.callbacks[i]();
          }
        });
        document.body.appendChild(gscript);
      },
      addCallback: function(callback) {
        this.callbacks.push(callback);
      },
    }
    </script>
    <% end %> 
  </head>

  <body class="<%= page_classes %><% if content_for?(:body_classes) %> <%= yield_content :body_classes %><% end %>">
    <header id="sticky-header" class="clearfix z-depth-2">
      <h1><%= link_to "Consider Veganism", "/" %></h1>
      <nav class="clearfix">
        <ul>
          <li class="intro"><%= link_to "Intro", "/#intro" %></li>
          <li class="ethics"><%= link_to "Ethics", "/#ethics" %></li>
          <li class="health"><%= link_to "Health", "/#health" %></li>
          <!--<li class="environment"><%= link_to "Environment", "/#environment" %></li>-->
          <!--<li class="how"><%= link_to "How", "/#how" %></li>-->
          <li class="more"><%= link_to "…", "/#more" %></li>
          <li class="separator"></li>
          <li class="blog<%= (current_page.url.start_with?("/blog") ? " current" : "") %>"><%= link_to "Blog", "/blog" %></li>
          <li class="about"><%= link_to "About", "/#about" %></li>
        </ul>
      </nav>
    </header>
    <%= yield %>
    <footer class="clearfix">
      <%= yield_content :footer %>
    </footer>

    <% if config[:environment] != :"development" then %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-37125148-3', 'auto');
      ga('send', 'pageview');
    </script>
    <% end %>
    <% if needs_googlechart then %>
    <script>DeferredGoogleAPI.load()</script>
    <% end %>
  </body>
</html>