---
title: "Data: World Slaughter Stats"
---
<%
unique_countries = {}
@slaughter_data.each do |year, countries|
  countries.each do |country, data|
    country_code = fao_to_iso3166_code country
    unique_countries[country_code] ||= []
    unique_countries[country_code] << country unless country.in? unique_countries[country_code]
  end
end

unique_countries = unique_countries.sort_by {|country_code, countries| countries[0]}
%>

<h1><%= current_page.data.title %></h1>

<h2>Source</h2>

<p>All data comes from <%= link_to "Food and Agriculture Organization of the United Nations", "http://faostat.fao.org/" %>. The pages listed below are generated from the CSV file obtained from:</p><p class="indent"><%= link_to "FAOSTAT > Download Data / Production / Livestock Primary", "http://faostat3.fao.org/download/Q/QL/E" %><br/><i>Regions</i>: 'World > (List)'; <i>Items Aggregated</i>: 'Meat, Total > (List)'; <i>Elements</i>: 'Producing Animals/Slaughtered'; <i>Years</i>: 'Select All'</p>
<%= link_to "&#128202; Download Full Dataset (.CSV File)", "/data/world-slaughter/fao-slaughter-data.csv", class: "footer-link margined", style: "margin-left: 0;" %>

<h2>By Year</h2>
<ul class="float-list clearfix">
<% for year in 2013.downto 1961 %>
  <li><%= link_to "#{year}", "/data/world-slaughter/#{year}", :class => "footer-link margined" %></li>
<% end %>
</ul>

<h2>By Country</h2>
<ul class="float-list clearfix">
<% unique_countries.each do |country_code, countries| %>
  <li><%= link_to countries.join(" / "), "/data/world-slaughter/#{country_code.downcase}", :class => "footer-link margined" %></li>
<% end %>
</ul>