---
title: "Data: World Slaughter Stats"
layout: layout
---

<% 
page_title = "#{current_page.data.title} (#{year})"
content_for :page_title do page_title end
uses_googlechart

def to_species_label(fao_label)
  if fao_label.start_with?("Meat, ") then fao_label.slice(6..-1).capitalize else fao_label end
end

missing = []
geo_chart_data = []
slaughter_data.each do |country, data|
  country_code = fao_to_iso3166_code country
  geo_chart_data.push [{:v => country_code, :f => country}, data[:total], (number_with_delimiter data[:total]) + ' land animals slaughtered']
end

species_to_keep = ["Meat, cattle", "Meat, pig", "Meat, duck", "Meat, turkey", "Meat, chicken", "Meat, sheep", "Meat, goat", "Meat, goose and guinea fowl", "Meat, rabbit"]
pie_chart_data = {}
pie_chart_data["Other"] = 0
world_data.each do |species, total|
  next unless species != :total
  if species.in? species_to_keep
    pie_chart_data[species] = total
  else
    pie_chart_data["Other"] += total
  end
end

unfiltered_pie_chart_data = world_data.dup
unfiltered_pie_chart_data.delete :total

sorted_country_slaughter_data = slaughter_data.sort_by {|country, data| -data[:total]}
%>

<div class="padded-page relative">
  <h1><%= page_title %></h1>

  <div class="padded z-depth-1 margined clearfix">
    <div class="pull-left">
      <ul class="float-list clearfix">
        <li><%= link_to "&#128202; Download Data as .CSV", "/data/world-slaughter/#{year}.csv", :class => "footer-link" %></li>
      </ul>
    </div>
    <div class="pull-right">
      <ul class="float-list clearfix">
    <% if year > 1961 %>
        <li><%= link_to "&laquo; Previous year", "/data/world-slaughter/#{year - 1}", :class => "footer-link", :title => "Previous Year's Data" %></li>
    <% end %>
        <li><%= link_to "World Slaughter Data Index", "/data/world-slaughter", :class => "footer-link", :title => "World Slaughter Data Index" %></li>
    <% if year < 2013 %>
        <li><%= link_to "Next year &raquo;", "/data/world-slaughter/#{year + 1}", :class => "footer-link", :title => "Next Year's Data" %></li>
    <% end %>
      </ul>
    </div>
  </div>

  <div class="padded z-depth-1 margined">
    <h2>At a glance</h2>
    <p style="font-size: 2em; background: #640000; color: #fff; padding: 0.25em .5em; font-style: italic; display: inline-block;"><%= number_with_delimiter world_data[:total] %> land animals slaughtered</p>
    <ol style="font-size: 1.5em;">
    <% 
    for i in 0..2 do
      country = fao_to_iso3166_name sorted_country_slaughter_data[i][0]
      total = sorted_country_slaughter_data[i][1][:total]
      color = i == 0 ? "#FF9696" : (i == 1 ? "#FFCF8A" : "#FFF587")
    %>
      <li><%= country %>: <span style="background-color:<%= color %>; padding: 0.05em;"><%= number_with_delimiter total %> land animals slaughtered</span></li>
    <% end %>
    </ol>
  </div>

  <div class="padded z-depth-1 margined">
    <h2>Visualizations</h2>
    <h3>Slaughter by Country</h3>
    <div id="geochart" style="max-width: 1024px; width: 100%; height: 400px; margin: auto;"></div>

    <h3>Slaughter by Species</h3>
    <div class="clearfix">
    <div id="speciesbar" style="width: 100%; height: 350px;"></div>
    </div>
  </div>

  <div class="padded z-depth-1 margined">
    <h2>Data</h2>
    <table id="totals-by-country" data-sortable>
      <caption>Slaughter Totals By Country &mdash; <%= year %></caption>
      <thead>
        <tr><th>Country</th><th>Total Head Slaughtered</th></tr>
      </thead>
      <tbody>
      <% slaughter_data.each do |country, categories| %>
        <tr>
          <td data-title="Country"><%= country %></td>
          <% slaughter_total = slaughter_data[country] ? slaughter_data[country][:total] || 0 : 0 %>
          <td data-title="Total Head Slaughtered"><%= number_with_delimiter slaughter_total %></td>
        </tr>
      <% end %>
      </tbody>
      <tfoot>
        <tr style="font-weight: bold;">
          <td data-title="Country">World</td>
          <td data-title="Total Head Slaughtered"><%= number_with_delimiter world_data[:total] %></td>
      </tfoot>
    </table>
  </div>
</div>

<table id="totals-by-country-and-species" data-sortable>
  <caption>Slaughter Totals By Country and Species &mdash; <%=year%></caption>
  <thead>
    <tr><th rowspan="2">Country</th><th colspan="<%= slaughter_categories.length %>" data-sortable-ignore>Head Slaughtered</th></tr>
    <tr><% slaughter_categories.each do |slaughter_category| %><th><%=to_species_label slaughter_category%></th><% end %></tr>
  </thead>
  <tbody>
  <%
  slaughter_data.each do |country, categories|
  %>
    <tr>
      <td data-title="Country"><%= country %></td>
      <% 
      slaughter_categories.each do |slaughter_category|
        category_total = categories[slaughter_category] ? categories[slaughter_category][:value] : 0
      %>
      <td data-title="<%= slaughter_category %>" style="font-size: 85%"><%= number_with_delimiter category_total %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
  <tfoot>
    <tr style="font-weight: bold;"><td data-title="Country">World</td><% slaughter_categories.each do |slaughter_category| %><td data-title="<%=to_species_label slaughter_category%>" style="font-size: 85%"><%= number_with_delimiter world_data[slaughter_category] %></td><% end %>
  </tfoot>
</table>

<script type="text/javascript">
function drawChart() {
  var geochartdata = google.visualization.arrayToDataTable([
    ['Country', 'Head Slaughtered', { role: 'tooltip' }],
    <%
    geo_chart_data.each do |country_data|
      country = country_data[0]
      total = country_data[1]
      tooltip = country_data[2]
    %>
    [<%=country.to_json%>, <%=total%>, '<%=tooltip%>'],
    <% end %>
  ]);

  geochart = new google.visualization.GeoChart(document.getElementById('geochart'));

  geochart.draw(geochartdata, {
    colorAxis: {colors: ['#EDE15E', '#610000']},
    legend: {numberFormat: "#,###"},
  });

  speciesBarData = google.visualization.arrayToDataTable([
    ['Species', 'Head Slaughtered', { role: 'annotation' }, { role: 'tooltip' }],
    <%
    pie_chart_data.each do |species, total|
      species = to_species_label species
      percentage = ("%.1f" % (total / world_data[:total].to_f * 100)) + "%"
    %>
    ['<%=species%>', <%=total%>, '<%= percentage %>', '<%=species%>: <%=number_with_delimiter total%> slaughtered'],
    <% end %>
  ]);

  speciesBarChart = new google.visualization.BarChart(document.getElementById('speciesbar'));

  speciesBarChart.draw(speciesBarData, {
    hAxis: { title: "Total Head Slaughtered" },
    legend: { position: "none" },
    colors: ['#760808'],
    chartArea: {top:'5%', height:'80%'}
  });
}

DeferredGoogleAPI.addCallback(function() {
  google.load("visualization", "1", {packages:["geochart", "corechart"], "callback": function() { drawChart(); }});
});
</script>