---
title: "Infographics"
layout: padded_layout
---

<h1>Infographics</h1>

<%= partial(:infographic, :locals => { :title => "Problems Inherent In Dairy Production", :img => "dairy-problems.jpg", :data => "/data/dairy", :imgur => "http://i.imgur.com/Bp1s6W1.jpg" }) %>
<%= partial(:infographic, :locals => { :title => "Problems Inherent In Egg Production", :img => "egg-problems.jpg", :data => "/data/eggs", :imgur => "http://i.imgur.com/rEOXgH7.jpg" }) %>
<%= partial(:infographic, :locals => { :title => "Animal Slaughter Interval in the U.S.", :img => "slaughter-interval.jpg", :data => "/data/slaughter", :imgur => "http://i.imgur.com/YgFH9kD.jpg" }) %>
<%= partial(:infographic, :locals => { :title => "Number of Animals Killed by the U.S. Egg Industry", :img => "egg-industry.jpg", :data => "/data/impact", :imgur => "http://i.imgur.com/Da9afY5.jpg" }) %>

<% content_for :footer do %>
	<%= link_to "&laquo; More resources", "/resources", :class => "footer-link footer-link-big" %>
<% end %>