---
---

<div class="page-content">
</div>

<section id="intro" class="section-container clearfix z-depth-2">
  <h2 class="section-header">Intro</h2>
  <div id="what-is-veganism" class="content-container clearfix">
    <h3>What Is Veganism?</h3>
    <blockquote class="clearfix">
      <p>
        "Veganism is a way of living which seeks to exclude, as far as is possible and practicable, all forms of exploitation of, and cruelty to, animals for food, clothing or any other purpose." <span class="attribution">&ndash; <%= link_to "The Vegan Society", "http://www.vegansociety.com/try-vegan/definition-veganism" %></span>
      </p>
    </blockquote>
  </div>
</section>

<section id="ethics" class="section-container clearfix z-depth-2">
  <h2 class="section-header">Ethics</h2>
  <div id="core-argument" class="content-container clearfix">
    <h3>The Core Argument</h3>
    <div class="argument clearfix">
      <ol class="argument-list">
          <li class="arg-premise"><span class="arg-symbol">1.</span> <span class="arg-text">It is unethical to cause unnecessary suffering to animals</span></li>
          <li class="arg-premise"><span class="arg-symbol">2.</span> <span class="arg-text">The production of animal products inherently causes suffering to animals</span></li>
          <li class="arg-premise"><span class="arg-symbol">3.</span> <span class="arg-text">Animal products are generally unnecessary (for health or survival)</span></li>
      </ol>
      <ul class="argument-list">
          <li class="arg-conclusion"><span class="arg-symbol">&there4;</span> <span class="arg-text">It is unethical to produce (or support the production of) animal products unless <i>absolutely necessary</i></span></li>
      </ul>
    </div>
  </div>

  <div id="dairy-problems" class="content-container clearfix">
    <h3>Problems Inherent In Dairy Production</h3>
    <div class="dairy-infographic clearfix">
      <p>The production of milk requires that the cow be in lactation, which is a result of the cow having given birth to a calf. This birth/lactation cycle must be repeated endlessly in order to sustain economic levels of milk production.</p>
      <div class="infographic-diagram-container">
        <h4 class="infographic-label pregnancy-label">Pregnancy</h4>
        <h4 class="infographic-label lactation-label">Lactation</h4>
        <%= image_tag "/images/dairy-problems.svg", :width => "80%" %>
      </div>
      <div class="info-section tri-info-section-left highlight z-depth-1">
        <h4>Conflict Of Interest</h4>
        <p>Every drop of milk that a calf suckles from their mother is a drop that is not able to be collected by humans, and vice versa. The longer a calf stays with their mother, the more stressful it is for both of them when they are separated.</p>

        <h5>Small &amp; Commercial Farms</h5>
        <p>All calves are separated from their mother, usually within a day after birth.</p>

        <p class="info-interval">1 calf<br/>separated<br/>every 3<br/>seconds<br/>in the U.S.</p>
      </div>
      <div class="info-section tri-info-section-center highlight z-depth-1">
        <h4>Unwanted Males</h4>
        <p>Bull calves are useless to the dairy industry as they do not produce milk.</p>

        <h5>Small &amp; Commercial Farms</h5>
        <p>Bull calves born to the dairy industry are sold to the meat industry to be raised and slaughtered for either beef or veal. The veal industry has been shrinking, but the dairy industry is still the primary source of new veal calves.</p>

        <p class="info-interval">1 bull calf<br/>born<br/>every 6<br/>seconds<br/>in the U.S.<br/>
        <small>(1 in 8 of those will<br/>be slaughtered for veal)</small></p>
      </div>
      <div class="info-section tri-info-section-right highlight z-depth-1">
        <h4>Spent Cows</h4>
        <p>Milk production declines as cows age, and eventually it costs more to feed them than is returned in milk value. This usually occurs at around 5 years of age (after 3 birth/lactation cycles), yet a cow’s natural lifespan is 20 years.</p>

        <h5>Small &amp; Commercial Farms</h5>
        <p>Spent cows are slaughtered for beef once they are no longer economically viable.</p>

        <p class="info-interval">1 dairy cow<br/>slaughtered<br/>every 11<br/>seconds<br/>in the U.S.</p>
      </div>
    </div>
    <ul class="section-footer-links clearfix">
      <li><%= link_to "Data, sources, and calculations", "/data/dairy" %></li>
      <li><%= link_to "Infographic", "/info/dairy-problems.jpg" %></li>
    </ul>
  </div>

  <div id="egg-problems" class="content-container clearfix">
    <h3>Problems Inherent In Egg Production</h3>
    <div class="egg-infographic clearfix">
      <div class="infographic-diagram-container">
        <%= image_tag "/images/egg-problems.svg", :width => "65%" %>
      </div>
      <div class="info-section dual-info-section-left highlight z-depth-1">
        <h4>Spent Hens</h4>
        <p>Egg production declines as hens age, and eventually it costs more to feed them than is returned in egg value. This usually occurs at around 2 years of age, yet a chicken’s natural lifespan is 5-10 years.</p>

        <h5>Small &amp; Commercial Farms</h5>
        <p>Spent hens are slaughtered at 2 years of age and the carcass is either exported, used for low-quality processed foods/pet foods, composted, or landfilled.</p>

        <h5>Backyard Hens</h5>
        <p>Some people may allow their hens to live out their lives while producing fewer eggs. Others may butcher spent hens for home use.</p>

        <p class="info-interval">8 layer hens<br/>killed<br/>every second<br/>in the U.S.</p>
      </div>
      <div class="info-section dual-info-section-right highlight z-depth-1">
        <h4>Unwanted Males</h4>
        <p>Every egg that is hatched to create a replacement layer hen has a 50% chance of being male, whom are useless to the egg industry and unwanted by the meat industry (modern 'broilers' are a separate strain).</p>

        <h5>Commercial Farms</h5>
        <p>Once sexed (within days of hatching), males are 'culled' using one of the following methods: a high-speed grinder (maceration), asphyxiation, cervical dislocation (snapping the spine), electrocution, or suffocation.</p>

        <h5>Small Farms &amp; Backyard Hens</h5>
        <p>Replacement hens are usually purchased from commercial suppliers (see above).</p>

        <p class="info-interval">9 male chicks<br/>killed<br/>every second<br/>in the U.S.</p>
      </div>
    </div>
    <ul class="section-footer-links clearfix">
      <li><%= link_to "Data, sources, and calculations", "/data/eggs" %></li>
      <li><%= link_to "Infographic", "/info/egg-problems.jpg" %></li>
    </ul>
  </div>
</section>

<section id="health" class="section-container clearfix z-depth-2">
  <h2 class="section-header">Health</h2>
  <div id="healthier" class="content-container clearfix">
    <h3>The Healthfulness Of Veganism</h3>
    <p>All the major dietetics and health organizations in the world agree that vegan and vegetarian diets are just as healthy as omnivorous diets.</p>

    <blockquote class="clearfix"><p>It is the position of the American Dietetic Association that appropriately planned vegetarian diets, including total vegetarian or vegan diets, are healthful, nutritionally adequate, and may provide health benefits in the prevention and treatment of certain diseases. Well-planned vegetarian diets are appropriate for individuals during all stages of the life cycle, including pregnancy, lactation, infancy, childhood, and adolescence, and for athletes. <span class="attribution">&ndash; <%= link_to "American Dietetic Association", "http://www.ncbi.nlm.nih.gov/pubmed/19562864" %></span></p></blockquote>

    <blockquote class="clearfix"><p>A well planned vegan diet can meet all of these needs. It is safe and healthy for pregnant and breastfeeding women, babies, children, teens and seniors. <span class="attribution">&ndash; <%= link_to "Dietitians of Canada", "http://www.dietitians.ca/Nutrition-Resources-A-Z/Factsheets/Vegetarian/Eating-Guidelines-for-Vegans.aspx" %></span></p></blockquote>

    <blockquote class="clearfix"><p>With good planning and an understanding of what makes up a healthy, balanced vegan diet, you can get all the nutrients your body needs. <span class="attribution">&ndash; <%= link_to "The British National Health Service", "http://www.nhs.uk/Livewell/Vegetarianhealth/Pages/Vegandiets.aspx" %></span></p></blockquote>

    <blockquote class="clearfix"><p>A well-planned, balanced vegetarian or vegan diet can be nutritionally adequate ... Studies of UK vegetarian and vegan children have revealed that their growth and development are within the normal range. <span class="attribution">&ndash; <%= link_to "The British Nutrition Foundation", "http://www.nutrition.org.uk/publications/briefingpapers/vegetarian-nutrition" %></span></p></blockquote>

    <blockquote class="clearfix"><p>Vegan diets are a type of vegetarian diet, where only plant-based foods are eaten. They differ to other vegetarian diets in that no animal products are usually consumed or used. Despite these restrictions, with good planning it is still possible to obtain all the nutrients required for good health on a vegan diet. <span class="attribution">&ndash; <%= link_to "The Dietitians Association of Australia", "http://daa.asn.au/for-the-public/smart-eating-for-you/nutrition-a-z/vegan-diets/" %></span></p></blockquote>
    
    <blockquote class="clearfix"><p>Vegetarian diets can meet all the recommendations for nutrients. The key is to consume a variety of foods and the right amount of foods to meet your calorie needs. Follow the food group recommendations for your age, sex, and activity level to get the right amount of food and the variety of foods needed for nutrient adequacy. Nutrients that vegetarians may need to focus on include protein, iron, calcium, zinc, and vitamin B12. <span class="attribution">&ndash; <%= link_to "The United States Department of Agriculture", "http://www.choosemyplate.gov/healthy-eating-tips/tips-for-vegetarian.html" %></span></p></blockquote>

    <blockquote class="clearfix"><p>Alternatives to animal foods include nuts, seeds, legumes, beans and tofu. For all Australians, these foods increase dietary variety and can provide a valuable, affordable source of protein and other nutrients found in meats. These foods are also particularly important for those who follow vegetarian or vegan dietary patterns. Australians following a vegetarian diet can still meet nutrient requirements if energy needs are met and the appropriate number and variety of serves from the Five Food Groups are eaten throughout the day. For those eating a vegan diet, supplementation of B12 is recommended. <span class="attribution">&ndash; <%= link_to "The National Health and Medical Research Council", "http://www.nhmrc.gov.au/guidelines-publications/n55" %></span></p></blockquote>

    <blockquote class="clearfix"><p>A well-planned vegetarian diet can meet the needs of people of all ages, including children, teenagers, and pregnant or breast-feeding women. The key is to be aware of your nutritional needs so that you plan a diet that meets them. <span class="attribution">&ndash; <%= link_to "The Mayo Clinic", "http://www.mayoclinic.org/healthy-living/nutrition-and-healthy-eating/in-depth/vegetarian-diet/art-20046446" %></span></p></blockquote>

    <blockquote class="clearfix"><p>Vegetarian diets can provide all the nutrients you need at any age, as well as some additional health benefits. <span class="attribution">&ndash; <%= link_to "The Heart and Stroke Foundation of Canada", "http://www.heartandstroke.com/site/c.ikIQLcMWJtE/b.3484249/k.2F6C/Healthy_living__Vegetarian_diets.htm" %></span></p></blockquote>
  </div>
</section>

<!--
<section id="environment" class="section-container clearfix z-depth-2">
  <h2 class="section-header">Environment</h2>
  <div id="fcr" class="content-container clearfix">
    <h3>The Inefficiency Of Animal Agriculture</h3>
    <div style="min-height: 500px" class="clearfix"></div>
  </div>
</section>
-->

<!--
<section id="how" class="section-container clearfix z-depth-2">
  <h2 class="section-header">How</h2>
  <div id="how-to-go-vegan" class="content-container clearfix">
    <h3>How To Go Vegan</h3>
    <div style="min-height: 500px" class="clearfix"></div>
  </div>
</section>
-->

<section id="about" class="section-container clearfix z-depth-2">
  <h2 class="section-header">About</h2>
  <div id="about-consider-veganism" class="content-container clearfix">
    <h3>About</h3>
    <p>The goal of ConsiderVeganism.com is to present arguments for veganism that are:</p>
    <ul>
      <li>Rational</li>
      <li>Factual</li>
      <li>Concise</li>
    </ul>

    <h3>Contributing</h3>
    <p>This website's source files are <%= link_to "available on Github", "https://github.com/squeek502/considerveganism.com" %></p>
    <h4>Spot an error?</h4>
    <p><%= link_to "Submit an issue on the issue tracker", "https://github.com/squeek502/considerveganism.com/issues" %></p>
    <h4>Want to contribute?</h4>
    <p><%= link_to "Submit a pull request", "https://github.com/squeek502/considerveganism.com/pulls" %></p>
  </div>
</section>