---
title: "Data: Problems Inherent in Dairy Production - Consider Veganism"
---

<div class="padded-page">

<h1>Data: Problems Inherent in Dairy Production</h1>
<p>The data, sources, and calculations used in the <%= link_to "Problems Inherent in Dairy Production infographic", "/info/dairy-problems.jpg" %></p>

<div class="padded z-depth-1 margined">
  <h2>Dairy Cow Lifecycle</h2>

  <blockquote>
  <p>
    "A cow typically remains in the dairy herd until about 5 years of age, although many cows are capable of remaining productive in the herd for 12 to 15 years. Following birth, the calf is usually removed from her dam after only a few hours."
  </p>
  <p>
    ...
  </p>
  <p>
    "Each period of production or lactation lasts for 12 to 14 months or longer and spans the time period from calving to dry-off, which is when milking is terminated about 60 days before the next anticipated calving. Thus, cows are bred while they are producing milk, usually beginning at about 60 days after calving to maintain a yearly calving schedule. Indeed, dairy producers attempt to get cows bred precisely during the time they are producing the most milk, which has negative implications for cow fertility. Following the 2-month dry period, the cow calves again and lactation cycle begins anew. Cows average about 2.5 lactations, although many remain productive considerably longer. Cows tend to survive longer in less-intensive pasture systems than when on concrete all of the time. The leading reasons cows leave the dairy herd are low production, infertility, mastitis (inflammation of the udder), and lameness."
  </p>
  <div class="source">Source: <%= link_to "Ag 101: Dairy Production: Lifecycle Production Phases (EPA)", "http://www.epa.gov/oecaagct/ag101/dairyphases.html" %></div>
  </blockquote>
</div>

<div class="padded z-depth-1 margined">
  <h2>Effects of Calf Separation</h2>

  <blockquote>
  <p>
    "We evaluated how the behavioural and heart rate response of dairy cows and calves to mutual separation was affected by two factors: the age of the calf at separation (1, 4 and 7 days) and the presence or absence of visual and auditory contact between the mother and her calf after separation."
  </p>
  <p>
    ...
  </p>
  <p>
    "The results indicate that the response of cows and calves to separation is more intense and lasts longer when separation is delayed and that this effect is prolonged and further intensified when they are allowed visual and auditory contact after separation. On the other hand, delayed separation influences later social behaviour of calves in a way that may enhance their coping abilities."
  </p>
  <div class="source">Source: <%= link_to "Response of dairy cows and calves to early separation: Effect of calf age and visual and auditory contact after separation (Applied Animal Behaviour Science Vol. 110)", "http://dx.doi.org/10.1016/j.applanim.2007.03.028" %></div>
  </blockquote>
</div>

<div class="padded z-depth-1 margined">
  <h2>Natural Lifespan</h2>

  <blockquote>
  <p>
    "Maximum lifespan in domestic cows may exceed 20 years. However, lifespan is often limited by human culling."
  </p>
  <table>
    <thead>
      <tr><th>Range lifespan<br/>Status: captivity</th><th>Typical lifespan<br/>Status: captivity</th></tr>
    </thead>
    <tbody>
      <tr><td>&gt;20 (high) years</td><td>20 (high) years</td></tr>
    </tbody>
  </table>
  <div class="source">Source: <%= link_to "Bos taurus (Animal Diversity Web)", "http://animaldiversity.org/site/accounts/information/Bos_taurus.html#lifespan_longevity" %></div>
  </blockquote>
</div>

<div class="padded z-depth-1 margined">
  <h2>Number of Calves Born Per Year</h2>

  <blockquote>
  <table>
    <caption>Cattle Inventory by Class and Calf Crop &mdash; United States: January 1, 2014 and 2015</caption>
    <thead>
      <tr><th>Class</th><th>2014</th><th>2015</th></tr>
    </thead>
    <tbody>
      <tr><td>Cows and heifers that have calved</td><td>...</td><td>...</td></tr>
      <tr class="relevant"><td class="indent">Milk cows</td><td>9,207,600</td><td>9,306,900</td></tr>
      <tr><td>Heifers 500 pounds and over</td><td>...</td><td>...</td></tr>
      <tr><td class="indent">For milk cow replacement</td><td>4,548,700</td><td>4,615,400</td></tr>
    </tbody>
  </table>
  <div class="source">Source: <%= link_to "Cattle, 01.30.2015 (NASS)", "http://usda.mannlib.cornell.edu/MannUsda/viewDocumentInfo.do?documentID=1017" %></div>
  </blockquote>

  <p>The goal calving interval of a dairy cow is 12 months<sup><%= link_to "[1]", "http://www.epa.gov/oecaagct/ag101/dairyphases.html" %></sup>, so it can be assumed that all cows in the dairy herd that have given birth at least once will then give birth to a calf each year afterwards until they are culled. It can also be assumed that half of these calves will be male.</p>

  <h3>2015 Dairy Calf Birth Interval in the U.S.</h3>
  <p>9,306,900 dairy cows * <sup>1 calf born</sup>/<sub>dairy cow / year</sub> = <sup>9,306,900 calves born</sup>/<sub>year</sub></p>
  <p><sup>9,306,900 calves</sup>/<sub>year</sub> * <sup>year</sup>/<sub>31,536,000 seconds</sub> = <sup><%= "%.2f" % (9306900.0/31536000.0) %> calves</sup>/<sub>second</sub> = <sup>1 calf</sup>/<sub><%= "%.2f" % (31536000.0/9306900.0) %> seconds</sub></p>

  <h3>2015 Dairy Bull Calf Birth Interval in the U.S.</h3>
  <p><sup>1 calf</sup>/<sub><%= "%.2f" % (31536000.0/9306900.0) %> seconds</sub> * <sup>1 bull calf</sup>/<sub>2 calves</sub> = <sup>1 bull calf</sup>/<sub><%= "%.2f" % (31536000.0/9306900.0*2) %> seconds</sub></p>
</div>

<div class="padded z-depth-1 margined">
  <h2>Number of Veal Calves Slaughtered Per Year</h2>

  <blockquote>
  <table>
    <caption>Federally Inspected Number of Head Slaughtered and Percent by Classification and Month &mdash; United States: 2014 and 2013 Total</caption>
    <thead>
      <tr><th>Classification</th><th>2014 Total</th><th>2013 Total</th></tr>
    </thead>
    <tbody>
      <tr class="relevant"><td>Calves and vealers</td><td>557,600</td><td>751,000</td></tr>
    </tbody>
  </table>
  <div class="source">Source: <%= link_to "Livestock Slaughter Annual Summary, 04.27.2015 (NASS)", "http://usda.mannlib.cornell.edu/MannUsda/viewDocumentInfo.do?documentID=1097" %></div>
  </blockquote>

  <h3>2014 Veal Calf Slaughter Interval in the U.S.</h3>
  <p><sup>557,600 calves</sup>/<sub>year</sub> * <sup>year</sup>/<sub>31,536,000 seconds</sub> = <sup><%= "%.2f" % (557600.0/31536000.0) %> calves</sup>/<sub>second</sub> = <sup>1 calf</sup>/<sub><%= "%.2f" % (31536000.0/557600.0) %> seconds</sub></p>

  <h3>Veal Calves As A Percentage Of All Dairy Bull Calves Born in 2014 in the U.S.</h3>
  <p>9,207,600 calves * <sup>1 bull calf</sup>/<sub>2 calves</sub> = <%= number_with_delimiter(9207600/2) %> bull calves</p>
  <p><sup>557,600 vealers</sup>/<sub>4,603,800 bull calves</sub> = <%= "%.2f" % (557600.0/(9207600.0/2.0)*100) %>%</p>
</div>

<div class="padded z-depth-1 margined">
  <h2>Number of Dairy Cows Slaughtered Per Year</h2>

  <blockquote>
  <table>
    <caption>Federally Inspected Number of Head Slaughtered and Percent by Classification and Month &mdash; United States: 2014 and 2013 Total</caption>
    <thead>
      <tr><th>Classification</th><th>2014 Total</th><th>2013 Total</th></tr>
    </thead>
    <tbody>
      <tr class="relevant"><td>Dairy cows</td><td>2,815,600</td><td>3,124,900</td></tr>
    </tbody>
  </table>
  <div class="source">Source: <%= link_to "Livestock Slaughter Annual Summary, 04.27.2015 (NASS)", "http://usda.mannlib.cornell.edu/MannUsda/viewDocumentInfo.do?documentID=1097" %></div>
  </blockquote>

  <h3>2014 Dairy Cow Slaughter Interval in the U.S.</h3>
  <p><sup>2,815,600 cows</sup>/<sub>year</sub> * <sup>year</sup>/<sub>31,536,000 seconds</sub> = <sup><%= "%.2f" % (2815600.0/31536000.0) %> cows</sup>/<sub>second</sub> = <sup>1 cow</sup>/<sub><%= "%.2f" % (31536000.0/2815600.0) %> seconds</sub></p>
</div>

</div>