---
title: "Data: Problems Inherent in Egg Production"
---

<% load "./#{config[:data_dir]}/process_data.rb" %>
<% process_slaughter_data data %>
<% SECONDS_PER_YEAR = (365 * 24 * 60 * 60).to_f %>

<div class="padded-page">

<h1>Data: Problems Inherent in Egg Production</h1>
<p>The data, sources, and calculations used in the <%= link_to "Problems Inherent in Egg Production infographic", "/info/egg-problems.jpg" %></p>

<div class="padded z-depth-1 margined">
  <h2>Egg Production by Age</h2>

  <blockquote>
    <p>
      <%= image_tag '/data/images/layer-performance-graph.png' %>
    </p>
    <div class="source">Source: <%= link_to "W-36 Commerical Layers 2015 Management Guide (Hy-Line)", "http://www.hyline.com/UserDocs/Pages/36_COM_ENG.pdf" %></div>
  </blockquote>
</div>

<div class="padded z-depth-1 margined">
  <h2>Natural Lifespan</h2>

  <blockquote>
    <p>
      "Chickens kept commercially for eggs are usually kept for 1 to 3 years. When kept for breeding, purebred chickens will, of course, live much longer. Ten to 12 years seem most likely."
    </p>
    <div class="source">Source: <%= link_to "How long do chickens live? (eXtension)", "http://www.extension.org/pages/65594/how-long-do-chickens-live" %></div>
  </blockquote>

  <blockquote>
    <p>
      "Many chickens will live over 5 years, some 8 to 10 years."
    </p>
    <div class="source">Source: <%= link_to "How Long do Chickens Live? (Poultry Keeper)", "http://poultrykeeper.com/keeping-chickens-faq/how-long-do-chickens-live" %></div>
  </blockquote>
</div>

<div class="padded z-depth-1 margined">
  <h2>Chick Culling</h2>

  <blockquote>
    <p>
      "Maceration, via use of a specially designed mechanical apparatus having rotating blades or projections, causes immediate fragmentation and death of newly hatched poultry and embryonated eggs. A review by the American Association of Avian Pathologists of the use of commercially available macerators for euthanasia of chicks, poults, and pipped eggs indicates that death by maceration in poultry up to 72 hours old occurs immediately with minimal pain and distress. Maceration is an alternative to the use of CO<sub>2</sub> for euthanasia of poultry up to 72 hours old. Maceration is believed to be equivalent to cervical dislocation and cranial compression as to time to death, and is considered to be an acceptable means of euthanasia for newly hatched poultry by the Federation of Animal Science Societies, Agriculture Canada, World Organisation for Animal Health, and European Council."
    </p>
    <div class="source">Source: <%= link_to "AVMA Guidelines for the Euthanasia of Animals: 2013 Edition (American Veterinary Medical Association)", "https://www.avma.org/KB/Policies/Documents/euthanasia.pdf" %></div>
  </blockquote>

  In the U.S., there are no federal legal restrictions on the methods of culling due to poultry's exclusion from the <%= link_to "Humane Methods of Slaughter Act (HMSA)", "https://www.animallaw.info/statute/us-food-animal-humane-methods-livestock-slaughter" %>.

  <blockquote>
    <p>
      "HMSA covers livestock animals, such as cattle, calves, horses, mules, sheep, swine, and "other livestock," which has been interpreted to include goats and "other equines." Poultry animals (domestic birds) have been excluded from HMSA's protection."
    </p>
    <div class="source">Source: <%= link_to "Detailed Discussion of the Humane Methods of Slaughter Act (Animal Legal & Historical Center, Michigan State University College of Law)", "https://www.animallaw.info/article/detailed-discussion-humane-methods-slaughter-act" %></div>
  </blockquote>
</div>

<div class="padded z-depth-1 margined">
  <h2>Number of Layer Hens Killed Per Year</h2>

  <blockquote>
  <table>
    <caption>Number Slaughtered, Lost, and Added During the Month &mdash; United States: 2013-2014</caption>
    <thead>
      <tr><th rowspan="2">Month</th><th colspan="2">Layers sold for slaughter</th><th colspan="2">Layers rendered, died,<br/> destroyed, composted, or<br/> disappeared for any other reason<br/> (other than sold)</th><th colspan="2">Pullets added</th></tr>
      <tr><th>2013</th><th>2014</th><th>2013</th><th>2014</th><th>2013</th><th>2014</th></tr>
    </thead>
    <tbody>
    <% data.slaughter.chickens.layers.sold.by_month_2013.each_key do |month| %>
    <% 
      num_sold_2013 = data.slaughter.chickens.layers.sold.by_month_2013[month]
      num_sold_2014 = data.slaughter.chickens.layers.sold.by_month_2014[month]
      num_disappeared_2013 = data.slaughter.chickens.layers.disappeared.by_month_2013[month]
      num_disappeared_2014 = data.slaughter.chickens.layers.disappeared.by_month_2014[month]
      num_pullets_added_2013 = data.slaughter.chickens.layers.pullets_added.by_month_2013[month]
      num_pullets_added_2014 = data.slaughter.chickens.layers.pullets_added.by_month_2014[month]
    %>
      <tr><td data-title="Month"><%= month %></td><td data-title="Layers sold for slaughter (2013)"><%= number_with_delimiter num_sold_2013 %></td><td data-title="Layers sold for slaughter (2014)"><%= number_with_delimiter num_sold_2014 %></td><td data-title="Layers disappeared for any other reason (2013)"><%= number_with_delimiter num_disappeared_2013 %></td><td data-title="Layers disappeared for any other reason (2014)"><%= number_with_delimiter num_disappeared_2014 %></td><td data-title="Pullets added (2013)"><%= number_with_delimiter num_pullets_added_2013 %></td><td data-title="Pullets added (2014)"><%= number_with_delimiter num_pullets_added_2014 %></td></tr>
    <% end %>
    </tbody>
  </table>
  <div class="source">Source: <%= link_to "Chickens and Eggs Annual Summary, 02.26.2015_correction (NASS)", "http://usda.mannlib.cornell.edu/MannUsda/viewDocumentInfo.do?documentID=1509" %></div>
  </blockquote>

  <table>
    <caption>Total Number Slaughtered, Lost, and Added &mdash; United States: 2013 and 2014</caption>
    <thead>
      <tr><th colspan="2">Layers sold for slaughter</th><th colspan="2">Layers rendered, died,<br/> destroyed, composted, or<br/> disappeared for any other reason<br/> (other than sold)</th><th colspan="2">Total layers died for any reason</th><th colspan="2">Pullets added</th></tr>
      <tr><th>2013</th><th>2014</th><th>2013</th><th>2014</th><th>2013</th><th>2014</th><th>2013</th><th>2014</th></tr>
    </thead>
    <tbody>
      <tr class="relevant">
        <td data-title="Layers sold for slaughter (2013)"><%= number_with_delimiter data.slaughter.chickens.layers.sold.total_2013 %></td>
        <td data-title="Layers sold for slaughter (2014)"><%= number_with_delimiter data.slaughter.chickens.layers.sold.total_2014 %></td>
        <td data-title="Layers disappeared for any other reason (2013)"><%= number_with_delimiter data.slaughter.chickens.layers.disappeared.total_2013 %></td>
        <td data-title="Layers disappeared for any other reason (2014)"><%= number_with_delimiter data.slaughter.chickens.layers.disappeared.total_2014 %></td>
        <td data-title="Total layers died for any reason (2013)"><%= number_with_delimiter data.slaughter.chickens.layers.total_2013 %></td>
        <td data-title="Total layers died for any reason (2014)"><%= number_with_delimiter data.slaughter.chickens.layers.total_2014 %></td>
        <td data-title="Pullets added (2013)"><%= number_with_delimiter data.slaughter.chickens.layers.pullets_added.total_2013 %></td>
        <td data-title="Pullets added (2014)"><%= number_with_delimiter data.slaughter.chickens.layers.pullets_added.total_2014 %></td>
      </tr>
    </tbody>
  </table>

  <h3>2014 Layer Hen Death Interval in the U.S.</h3>
  <p><sup><%= number_with_delimiter data.slaughter.chickens.layers.total_2014 %> hens</sup>/<sub>year</sub> * <sup>year</sup>/<sub><%= number_with_delimiter SECONDS_PER_YEAR.to_i %> seconds</sub> = <sup><%= "%.2f" % (data.slaughter.chickens.layers.total_2014/SECONDS_PER_YEAR) %> hens</sup>/<sub>second</sub> = <sup>1 hen</sup>/<sub><%= "%.2f" % (SECONDS_PER_YEAR/data.slaughter.chickens.layers.total_2014) %> seconds</sub></p>
</div>

<div class="padded z-depth-1">
  <h2>Number of Male Chicks Hatched/Culled Per Year</h2>

  <p>It can be assumed that for each layer pullet added to the flock, a male chick was hatched. That is, there were around <%= number_with_delimiter data.slaughter.chickens.layers.male_chicks.total_2014 %> male chicks hatched in 2014 (see <strong>Total Number Slaughtered, Lost, and Added &mdash; United States: 2013 and 2014</strong> above), and it can be assumed that nearly 100% of those were culled.</p>

  <h3>2014 Male Chick Cull Interval in the U.S.</h3>
  <p><sup><%= number_with_delimiter data.slaughter.chickens.layers.male_chicks.total_2014 %> chicks</sup>/<sub>year</sub> * <sup>year</sup>/<sub><%= number_with_delimiter SECONDS_PER_YEAR.to_i %> seconds</sub> = <sup><%= "%.2f" % (data.slaughter.chickens.layers.male_chicks.total_2014/SECONDS_PER_YEAR) %> chicks</sup>/<sub>second</sub> = <sup>1 chick</sup>/<sub><%= "%.2f" % (SECONDS_PER_YEAR/data.slaughter.chickens.layers.male_chicks.total_2014) %> seconds</sub></p>
</div>

</div>