---
title: "Data: Problems Inherent in Egg Production - Consider Veganism"
---

<div class="padded-page">

<h1>Data: Problems Inherent in Egg Production</h1>
<p>The data, sources, and calculations used in the <%= link_to "Problems Inherent in Egg Production infographic", "/info/egg-problems.jpg" %></p>

<div class="padded z-depth-1 margined">
  <h2>Egg Production by Age</h2>

  <blockquote>
    <p>
      <%= image_tag '/data/images/layer-performance-graph.png' %>
    </p>
    <div class="source">Source: <%= link_to "W-36 Commerical Layers 2015 Management Guide (Hy-Line)", "http://www.hyline.com/UserDocs/Pages/36_COM_ENG.pdf" %></div>
  </blockquote>
</div>

<div class="padded z-depth-1 margined">
  <h2>Natural Lifespan</h2>

  <blockquote>
    <p>
      "Chickens kept commercially for eggs are usually kept for 1 to 3 years. When kept for breeding, purebred chickens will, of course, live much longer. Ten to 12 years seem most likely."
    </p>
    <div class="source">Source: <%= link_to "How long do chickens live? (eXtension)", "http://www.extension.org/pages/65594/how-long-do-chickens-live" %></div>
  </blockquote>

  <blockquote>
    <p>
      "Many chickens will live over 5 years, some 8 to 10 years."
    </p>
    <div class="source">Source: <%= link_to "How Long do Chickens Live? (Poultry Keeper)", "http://poultrykeeper.com/keeping-chickens-faq/how-long-do-chickens-live" %></div>
  </blockquote>
</div>

<div class="padded z-depth-1 margined">
  <h2>Chick Culling</h2>

  <blockquote>
    <p>
      "Maceration, via use of a specially designed mechanical apparatus having rotating blades or projections, causes immediate fragmentation and death of newly hatched poultry and embryonated eggs. A review by the American Association of Avian Pathologists of the use of commercially available macerators for euthanasia of chicks, poults, and pipped eggs indicates that death by maceration in poultry up to 72 hours old occurs immediately with minimal pain and distress. Maceration is an alternative to the use of CO<sub>2</sub> for euthanasia of poultry up to 72 hours old. Maceration is believed to be equivalent to cervical dislocation and cranial compression as to time to death, and is considered to be an acceptable means of euthanasia for newly hatched poultry by the Federation of Animal Science Societies, Agriculture Canada, World Organisation for Animal Health, and European Council."
    </p>
    <div class="source">Source: <%= link_to "AVMA Guidelines for the Euthanasia of Animals: 2013 Edition (American Veterinary Medical Association)", "https://www.avma.org/KB/Policies/Documents/euthanasia.pdf" %></div>
  </blockquote>

  In the U.S., there are no federal legal restrictions on the methods of culling due to poultry's exclusion from the <%= link_to "Humane Methods of Slaughter Act (HMSA)", "https://www.animallaw.info/statute/us-food-animal-humane-methods-livestock-slaughter" %>.

  <blockquote>
    <p>
      "HMSA covers livestock animals, such as cattle, calves, horses, mules, sheep, swine, and "other livestock," which has been interpreted to include goats and "other equines." Poultry animals (domestic birds) have been excluded from HMSA's protection."
    </p>
    <div class="source">Source: <%= link_to "Detailed Discussion of the Humane Methods of Slaughter Act (Animal Legal & Historical Center, Michigan State University College of Law)", "https://www.animallaw.info/article/detailed-discussion-humane-methods-slaughter-act" %></div>
  </blockquote>
</div>

<div class="padded z-depth-1 margined">
  <h2>Number of Layer Hens Killed Per Year</h2>

  <blockquote>
  <table>
    <caption>Number Slaughtered, Lost, and Added During the Month &mdash; United States: 2013-2014</caption>
    <thead>
      <tr><th rowspan="2">Month</th><th colspan="2">Layers sold for slaughter</th><th colspan="2">Layers rendered, died,<br/> destroyed, composted, or<br/> disappeared for any other reason<br/> (other than sold)</th><th colspan="2">Pullets added</th></tr>
      <tr><th>2013</th><th>2014</th><th>2013</th><th>2014</th><th>2013</th><th>2014</th></tr>
    </thead>
    <tbody>
      <tr><td>December</td><td>13,451,000</td><td>14,156,000</td><td>7,882,000</td><td>7,573,000</td><td>21,907,000</td><td>23,722,000</td></tr>
      <tr><td>January</td><td>15,629,000</td><td>15,707,000</td><td>7,582,000</td><td>8,222,000</td><td>24,992,000</td><td>22,821,000</td></tr>
      <tr><td>February</td><td>13,696,000</td><td>15,877,000</td><td>6,847,000</td><td>8,244,000</td><td>23,524,000</td><td>24,543,000</td></tr>
      <tr><td>March</td><td>13,508,000</td><td>13,410,000</td><td>7,085,000</td><td>7,895,000</td><td>25,178,000</td><td>24,201,000</td></tr>
      <tr><td>April</td><td>18,128,000</td><td>14,441,000</td><td>7,843,000</td><td>6,942,000</td><td>22,953,000</td><td>24,222,000</td></tr>
      <tr><td>May</td><td>15,619,000</td><td>15,207,000</td><td>9,470,000</td><td>8,373,000</td><td>25,615,000</td><td>24,570,000</td></tr>
      <tr><td>June</td><td>14,370,000</td><td>14,402,000</td><td>8,006,000</td><td>8,148,000</td><td>23,269,000</td><td>23,230,000</td></tr>
      <tr><td>July</td><td>13,126,000</td><td>14,071,000</td><td>6,967,000</td><td>8,284,000</td><td>23,864,000</td><td>25,601,000</td></tr>
      <tr><td>August</td><td>14,250,000</td><td>16,393,000</td><td>5,846,000</td><td>7,271,000</td><td>21,767,000</td><td>25,047,000</td></tr>
      <tr><td>September</td><td>14,324,000</td><td>15,709,000</td><td>9,021,000</td><td>7,767,000</td><td>24,169,000</td><td>23,334,000</td></tr>
      <tr><td>October</td><td>15,191,000</td><td>14,723,000</td><td>7,041,000</td><td>7,111,000</td><td>26,380,000</td><td>24,850,000</td></tr>
      <tr><td>November</td><td>13,756,000</td><td>13,483,000</td><td>6,167,000</td><td>7,234,000</td><td>23,850,000</td><td>23,639,000</td></tr>
    </tbody>
  </table>
  <div class="source">Source: <%= link_to "Chickens and Eggs Annual Summary, 02.26.2015_correction (NASS)", "http://usda.mannlib.cornell.edu/MannUsda/viewDocumentInfo.do?documentID=1509" %></div>
  </blockquote>

  <table>
    <caption>Total Number Slaughtered, Lost, and Added &mdash; United States: 2013 and 2014</caption>
    <thead>
      <tr><th colspan="2">Layers sold for slaughter</th><th colspan="2">Layers rendered, died,<br/> destroyed, composted, or<br/> disappeared for any other reason<br/> (other than sold)</th><th colspan="2">Total layers died for any reason</th><th colspan="2">Pullets added</th></tr>
      <tr><th>2013</th><th>2014</th><th>2013</th><th>2014</th><th>2013</th><th>2014</th><th>2013</th><th>2014</th></tr>
    </thead>
    <tbody>
      <tr class="relevant">
        <td><%= number_with_delimiter((13451+15629+13696+13508+18128+15619+14370+13126+14250+14324+15191+13756)*1000) %></td>
        <td><%= number_with_delimiter((14156+15707+15877+13410+14441+15207+14402+14071+16393+15709+14723+13483)*1000) %></td>
        <td><%= number_with_delimiter((7882+7582+6847+7085+7843+9470+8006+6967+5846+9021+7041+6167)*1000) %></td>
        <td><%= number_with_delimiter((7573+8222+8244+7895+6942+8373+8148+8284+7271+7767+7111+7234)*1000) %></td>
        <td><%= number_with_delimiter((13451+15629+13696+13508+18128+15619+14370+13126+14250+14324+15191+13756 + 7882+7582+6847+7085+7843+9470+8006+6967+5846+9021+7041+6167)*1000) %></td>
        <td><%= number_with_delimiter((14156+15707+15877+13410+14441+15207+14402+14071+16393+15709+14723+13483 + 7573+8222+8244+7895+6942+8373+8148+8284+7271+7767+7111+7234)*1000) %></td>
        <td><%= number_with_delimiter((21907+24992+23524+25178+22953+25615+23269+23864+21767+24169+26380+23850)*1000) %></td>
        <td><%= number_with_delimiter((23722+22821+24543+24201+24222+24570+23230+25601+25047+23334+24850+23639)*1000) %></td>
      </tr>
    </tbody>
  </table>

  <h3>2014 Layer Hen Death Interval in the U.S.</h3>
  <p><sup>270,643,000 hens</sup>/<sub>year</sub> * <sup>year</sup>/<sub>31,536,000 seconds</sub> = <sup><%= "%.2f" % (270643000.0/31536000.0) %> hens</sup>/<sub>second</sub> = <sup>1 hen</sup>/<sub><%= "%.2f" % (31536000.0/270643000.0) %> seconds</sub></p>
</div>

<div class="padded z-depth-1">
  <h2>Number of Male Chicks Hatched/Culled Per Year</h2>

  <p>It can be assumed that for each layer pullet added to the flock, a male chick was hatched. That is, there were around 289,780,000 male chicks hatched in 2014 (see <strong>Total Number Slaughtered, Lost, and Added &mdash; United States: 2013 and 2014</strong> above), and it can be assumed that nearly 100% of those were culled.</p>

  <h3>2014 Male Chick Cull Interval in the U.S.</h3>
  <p><sup>289,780,000 chicks</sup>/<sub>year</sub> * <sup>year</sup>/<sub>31,536,000 seconds</sub> = <sup><%= "%.2f" % (289780000.0/31536000.0) %> chicks</sup>/<sub>second</sub> = <sup>1 chick</sup>/<sub><%= "%.2f" % (31536000.0/289780000.0) %> seconds</sub></p>
</div>

</div>